<%- include('partials/headerFaculty.ejs') %>
<div align="center">
<form class="contact1-form validate-form">
				<span class="contact1-form-title">
					Add Question
				</span>
				<div class="wrap-input1 validate-input" data-validate = "required">
					<!--<textarea class="input1" name="message" placeholder="Message"></textarea>-->
					<select class="input1">
						<option>--Select Program --</option>
						<option>MSC.IT</option>
						<option>BTECH</option>
						<option>MTECH</option>
					</select>
					<span class="shadow-input1"></span>
				</div>
				
				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="facEmail" placeholder="Course Name">
					<span class="shadow-input1"></span>
				</div>
				
				<div class="wrap-input1 validate-input" data-validate = "  is required">
					<input class="input1" type="text" name="userName" placeholder="Course code">
					<span class="shadow-input1"></span>
				</div>
	

				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="password" name="password" placeholder="Topic">
					<span class="shadow-input1"></span>
				</div>
				
				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="Level of difficulty">
					<span class="shadow-input1"></span>
				</div>


				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="Marks">
					<span class="shadow-input1"></span>
				</div>


				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="Question ">
					<span class="shadow-input1"></span>
				</div>
				
				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="option 1">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="option 2">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = " is required">
					<input class="input1" type="text" name="userName" placeholder="option 3">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "is required">
					<input class="input1" type="text" name="userName" placeholder="option 4">
					<span class="shadow-input1"></span>
				</div>
				<div class="wrap-input1 validate-input" data-validate = "is required">
					<input class="input1" type="text" name="userName" placeholder="Answer">
					<span class="shadow-input1"></span>
				</div>
				
				<div class="container-contact1-form-btn">
					<button class="contact1-form-btn">
						<span>
							ADD
							<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
			</div>




</div></div></div>